DASHSCOPE_API_KEY=
DASHSCOPE_REALTIME_URL=wss://ws-88iqbhz1c7znqifw.ap-southeast-1.maas.aliyuncs.com/api-ws/v1/realtime
AUTH_PASSWORD_HASH=
AUTH_SECRET=
APP_ORIGINS=http://localhost:5175
COOKIE_SECURE=false
